# Virtual Environment
.venv/
.venv-1/
.venv-2/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.db

# Encryption Keys
vault.key
*.key

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional Runtime Files
master_backup.json
master_audit.json
vault.key.bak
master.json