# Virtual Environment
.venv/
.venv-1/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Secrets
vault.key
.env

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log